.footer
  background-color: #0149a1
  &__cont
    @extend %container
    padding: 90px 0px 50px 0px
  &__items
    display: flex
    justify-content: space-between
    text-align: left
    padding-bottom: 135px
  &__text
    font-size: 18px
    font-weight: 300
    line-height: 2
    color: white
