.team
  background-color: #edeff1
  &__cont
    @extend %container
    padding: 138px 0px 125px 0px
  &__title
    @extend %title
  &__subtitle
    @extend %subtitle
    padding-bottom: 100px
  &__items
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 85px
  &__item
    display: flex
    flex-direction: column
    align-items: center
  &__itemTitle
    @extend %titleItem
  &__itemText
    @extend %subtitleItem
  &__btn
    @extend %btn
